absl-py==0.10.0
aiohttp==3.6.2
alpha-vantage==2.2.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.16.0
asgiref==3.2.10
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.1.0
Automat==20.2.0
autopep8==1.5.4
autoscraper @ git+https://github.com/alirezamika/autoscraper.git@40969d8b6cff420bff7be65babc4f9d7aaf6da9b
backcall==0.2.0
beautifulsoup4==4.9.1
binaryornot==0.4.4
black==20.8b1
bleach==3.1.5
blinker==1.4
blis==0.7.1
boto==2.49.0
boto3==1.14.54
botocore==1.17.54
Box2D==2.3.10
braceexpand==0.1.5
Brotli==1.0.9
bs4==0.0.1
cachetools==4.1.1
catalogue==2.0.1
certifi==2020.6.20
cexprtk==0.3.4
cffi==1.14.2
chardet==3.0.4
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
check-tls-certs==0.11.0
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
commonmark==0.9.1
constantly==15.1.0
cookiecutter==1.7.2
cryptography==3.1
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
data==0.4
decorator==4.4.2
defusedxml==0.6.0
discord==1.0.1
discord.py==1.4.1
distlib==0.3.1
Django==3.1.1
docutils==0.15.2
elasticsearch==7.9.1
entrypoints==0.3
et-xmlfile==1.0.1
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gensim==3.8.3
gevent==20.6.2
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14.1
greenlet==0.4.16
grequests==0.6.0
grpcio==1.31.0
gym==0.17.2
h11==0.10.0
h2==3.2.0
h5py==2.10.0
hpack==4.0.0
humanize==2.6.0
hyperframe==5.2.0
hyperlink==20.0.1
idna==2.10
imageio==2.9.0
import-expression==1.1.4
importlib-metadata==1.7.0
incremental==17.5.0
inflection==0.5.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.4.2
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
jieba3k==0.35.1
Jinja2==2.11.2
jinja2-time==0.2.0
jishaku==1.19.1.200
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
kaitaistruct==0.8
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.2.0
latex==0.7.0
lazy-object-proxy==1.4.3
ldap3==2.8
lockfile==0.12.2
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.3.1
mccabe==0.6.1
mistune==0.8.4
mitmproxy==5.2
mpmath==1.1.0
multidict==4.7.6
murmurhash==1.0.2
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
neat-python==0.92
newsapi==0.1.1
newsapi-python==0.2.6
nltk==3.5
notebook==6.1.3
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
pandas-datareader==0.9.0
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.1
passlib==1.7.2
pathspec==0.8.0
pickleshare==0.7.5
Pillow==7.2.0
Pint==0.15
pip-review==1.1.0
pipenv==2020.8.13
plac==1.2.0
pluggy==0.13.1
poyo==0.5.0
pprintpp==0.4.0
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
proxy-checker==0.4
proxyscrape @ file:///C:/Users/Microsoft/Downloads/proxyscrape-0.3.0-py2.py3-none-any.whl
publicsuffix2==2.20191221
pyarmor==6.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybeautifier==0.1.1
pycodestyle==2.6.0
pycparser==2.20
pycurl==7.43.0.5
pydivert==2.1.0
pydocstyle==5.1.1
pyfiglet==0.8.post1
pyflakes==2.2.0
pygame==1.9.6
pyglet==1.5.7
Pygments==2.6.1
PyHamcrest==2.0.2
pylint==2.6.0
pymongo==3.11.0
PyMultitor==3.1.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
pyrsistent==0.16.0
PySocks==1.7.1
python-chess==0.31.4
python-daemon==2.2.4
python-dateutil==2.7.5
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
python-slugify==4.0.1
pytz==2020.1
pywin32==228
pywinpty==0.5.7
PyYAML==3.13
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
regex==2020.7.14
requests==2.24.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
requests-threads==0.1.1
rich==6.0.0
rope==0.17.0
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scipy==1.4.1
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shutilwhich==1.1.0
six==1.15.0
smart-open==2.1.1
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==2.3.2
spotipy==2.14.0
SQLAlchemy==1.2.19
sqlmap==1.4.9
sqlparse==0.3.1
srsly==2.2.0
steammarket==0.2.7
stem==1.8.0
sympy==1.6.2
tempdir==0.7.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tflearn==0.3.2
theHarvester==0.0.1
thinc==7.4.1
toml==0.10.1
tornado==6.0.4
torpy==1.1.3
tqdm==4.48.2
traitlets==5.0.2
Twisted==20.3.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urbandict==0.6.1
urllib3==1.25.10
urwid==2.1.1
virtualenv==20.0.31
virtualenv-clone==0.5.4
w3lib==1.22.0
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wsproto==0.15.0
yapf==0.30.0
yarl==1.5.1
youtube-dl==2020.7.28
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
zstandard==0.14.0
