sympy==1.6.2
wavelink==0.9.9
pyfiglet==0.8.post1
lyricsgenius==1.4.0
python_chess==0.31.4
vacefron.py==1.6.1
cexprtk==0.3.4
humanize==0.5.1
discord.py==1.6.0
discord==1.0.1
PyYAML==5.4.1
rich==9.12.3
spotify
pytz
pycountry
humanreadable
async-timeout
watchgod
git+https://github.com/Rapptz/discord-ext-menus.git
asyncdagpi==3.3.2
statcord.py
dblpy
asyncpg
matplotlib
numpy
aiocache
six==1.11.0 
